@import "tailwindcss";

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('./assets/font/Oswald-Regular.ttf') format('truetype');
}

@theme {
  --font-oswald: "Oswald", "sans-serif";
}
